nfore.model = cp24k-example
#nfore.version = ????-??-??

#nfore.ref.path = ???
#nfore.ref.ext.mode = ???
#nfore.mic.mode = ????
#nfore.mic.mix.num = 1

#nfore.aec.delay = 0
#nfore.sys.mic.delay = 0

#nfore.dump.path = /tmp
nfore.sys.feedback = ext

nfore.sys.fs = 24000
nfore.sys.mic.gain = 0
nfore.sys.mic.pre.gain = 0
nfore.sys.mic.silence.thld = 0
nfore.sys.plc.enable = 0
nfore.sys.spk.gain = 0
nfore.sys.spk.pre.gain = 0
nfore.sys.spk.silence.thld = 0
nfore.sys.tx.fadein = 50

nfore.bf.enable = 0
nfore.bf.pis.enable = 0
nfore.bf.tad.enable = 1
nfore.bf.array.num = 2
nfore.bf.array.x1 = 50
nfore.bf.array.y1 = 0
nfore.bf.array.x2 = -50
nfore.bf.array.y2 = 0
nfore.bf.angle.num = 2
nfore.bf.azimuth.target1 = 120
nfore.bf.azimuth.target2 = 60
nfore.bf.range.target1 = 45
nfore.bf.range.target2 = 45
nfore.bf.presence.cdrthld = 3
nfore.bf.interfere.map = 0
nfore.bf.interfere.level = 5

nfore.aec.enable = 1
nfore.aec.in.gain = 0
nfore.aec.ref.gain = 0
nfore.aec.out.gain = 6
nfore.aec.aflen = 64
nfore.aec.dtdrel.time = 100
nfore.aec.firout.gain = 0
nfore.aec.init.speed = 58
nfore.aec.init.time = 1200
nfore.aec.subband.enable = 2
nfore.aec.dualfilter.enable = 0101

nfore.aes.enable = 1
nfore.aes.attack = 3
nfore.aes.release = 7
nfore.aes.st.level = 5
nfore.aes.dt.level = 3
nfore.aes.sat.level = 6
nfore.aes.reset.time = 0
nfore.aes.sreach.time = 800
nfore.aes.init.time = 800
nfore.aes.initrel.time = 60
nfore.aes.init.suppgain = -30
nfore.aes.var.suppgain = -6
nfore.aes.cng.enable = 1
nfore.aes.cng.gain = 4
nfore.aes.subband.enable = 3
nfore.aes.sat.thld = -6
nfore.aes.predict.sat.distort = -3
nfore.aes.refvol.enable = 1

nfore.ns.fd.enable = 1
nfore.ns.td.enable = 0
nfore.ns.out.gain = 3
nfore.ns.level = 2
nfore.ns.mslevel = 3
nfore.ns.pslevel = 2
nfore.ns.min.limit = -18
nfore.ns.fd.ad = 90
nfore.ns.fd.as = 10
nfore.ns.fd.bandmax = 0
nfore.ns.fd.bandmin = 0
nfore.ns.fd.bandseg = 300
nfore.ns.fd.harmonic = 5
nfore.ns.fd.postmaxmul = 0
nfore.ns.fd.postnoisemul = -3
nfore.ns.fd.postthld = 60
nfore.ns.init.time = 1200
nfore.ns.subband.enable = 0

nfore.agc.rx.enable = 0
nfore.agc.rx.cpthreshold = 0
nfore.agc.rx.max.gain = 6
nfore.agc.rx.min.gain = -6
nfore.agc.rx.noise.peak = -24
nfore.agc.rx.target.gain = -21
nfore.agc.rx.time.cal = 60
nfore.agc.rx.time.init = 1600
nfore.agc.rx.time.search = 1600

nfore.agc.tx.enable = 1
nfore.agc.tx.cpthreshold = 0
nfore.agc.tx.max.gain = 6
nfore.agc.tx.min.gain = -6
nfore.agc.tx.noise.peak = -24
nfore.agc.tx.target.gain = -21
nfore.agc.tx.time.cal = 60
nfore.agc.tx.time.init = 1600
nfore.agc.tx.time.search = 1600

nfore.sys.hpf.spk.cutoff = 100
nfore.eq2.rxin.enable = 0
nfore.eq2.rxin.0FT = 0
nfore.eq2.rxin.0PG = 0
nfore.eq2.rxin.0Q = 0
nfore.eq2.rxin.0fc = 0

nfore.eq2.rx.enable = 0
nfore.eq2.rx.out.gain = 0
nfore.eq2.rx.0FT = 0
nfore.eq2.rx.0PG = 0
nfore.eq2.rx.0Q = 0
nfore.eq2.rx.0fc = 0

nfore.sys.hpf.mic.cutoff = 100
nfore.eq2.txin.enable = 1
nfore.eq2.txin.0FT = 2
nfore.eq2.txin.0PG = 0
nfore.eq2.txin.0Q = 8
nfore.eq2.txin.0fc = 125

nfore.sys.hpf.out.cutoff = 0
nfore.eq2.tx.enable = 0
nfore.eq2.tx.out.gain = 0
nfore.eq2.tx.0FT = 7
nfore.eq2.tx.0PG = -60
nfore.eq2.tx.0Q = 10
nfore.eq2.tx.0fc = 1200



