<?xml version="1.0" encoding="utf-8"?>
<avm>
	<file_path>
		<!--车牌字库文件-->
		<font>
			<pic>font/font.png</pic>
			<config>font/font.xml</config>
		</font>
		<!--标定配置文件-->
		<calibration>
			<template>calibration/template.xml</template>
			<circle_mesh>calibration/circle_model.obj</circle_mesh>
      <T19C>
          <golden_data>calibration/T19C/golden_data.xml</golden_data>
          <circle_model>calibration/T19C/circle_model.dat</circle_model>
          <rect_model>calibration/T19C/rect_model.dat</rect_model>
      </T19C>
	  <T19C_R>
          <golden_data>calibration/T19C_R/golden_data.xml</golden_data>
          <circle_model>calibration/T19C_R/circle_model.dat</circle_model>
          <rect_model>calibration/T19C_R/rect_model.dat</rect_model>
      </T19C_R>
		</calibration>
		<!--车辆配置文件-->
		<vehicle>
			<shadow_pic>vehicle/shadow.png</shadow_pic>
			<plate_pic>vehicle/plate.png</plate_pic>
			<plate_nev_pic>vehicle/plate_nev.png</plate_nev_pic>
			<radar_pic>vehicle/radar.png</radar_pic>
			<line1_pic>vehicle/line.png</line1_pic>
			<line2_pic>vehicle/line1.png</line2_pic>
			<line3_pic>vehicle/line2.png</line3_pic>
            <T19C>
                <vehicle_info>vehicle/T19C/vehicle_info.xml</vehicle_info>
                <model>vehicle/T19C/car_model.dat</model>
            </T19C>
			<T19C_R>
                <vehicle_info>vehicle/T19C_R/vehicle_info.xml</vehicle_info>
                <model>vehicle/T19C_R/car_model.dat</model>
            </T19C_R>
		</vehicle>
		<!--系统默认配置-->
		<default>
			<user_config>user_config.xml</user_config>
			<developer_mode>developer_mode.xml</developer_mode>
		</default>
		<!--运行时的配置-->
		<cache>
			<user_config>user_config.xml</user_config>
			<developer_mode>developer_mode.xml</developer_mode>
			<calib_result>calib_result.xml</calib_result>
			<circle_model>circle_model.dat</circle_model>
			<rect_model>rect_model.dat</rect_model>
		</cache>
	</file_path>
  <viewpoint_animation>
        <!--视点切换动画虚拟相机移动参数：移动速度-->
        <speed>3</speed>
    </viewpoint_animation>
  <inertial_animation>
        <!--滑动参数信息：位移转换成角度系数(滑动方向和转动一致)、转换高度系数、最大角度(角速度)、最大高度、最小高度-->
        <angle_coefficient>-0.08</angle_coefficient>
        <height_coefficient>0.02</height_coefficient>
        <max_angle>35</max_angle>
        <max_height>4.2</max_height>
        <min_height>2.0</min_height>
        <!--惯性动画虚拟相机位移参数：触发时间、加速度、最大速度、最大时间、移动距离转换成转动角度的系数-->
        <trigger_time>0.1</trigger_time>
        <acceleration>200</acceleration>
        <max_speed>600</max_speed>
        <max_time>1.5</max_time>
        <distance_coefficient>0.1</distance_coefficient>
    </inertial_animation>
</avm>
